@tailwind base;
@tailwind components;
@tailwind utilities;

.scrollContainer {
  will-change: transform;
}

.dialog-container {
  overflow-y: scroll;
  scrollbar-gutter: stable;
  scrollbar-color: #424242 rgba(0, 0, 0, 0.557);
}

html,
body {
  background-color: #090A0B;
}

/* Reset the badge’s default appearance */
.grecaptcha-badge {
  z-index: 50 !important;
  border: none !important;
  background: transparent !important;
  box-shadow: none !important;
  /* Remove any forced opacity so that our animation can take over */
}

/* On pages without the proper class, hide the badge completely */
body:not(.contact-page):not(.careers-page) .grecaptcha-badge {
  display: none !important;
}

/* On contact or careers pages, force a fade‐in animation */
body.contact-page .grecaptcha-badge,
body.careers-page .grecaptcha-badge {
  display: block !important;
  animation: captchaFadeIn 0.5s ease forwards !important;
}

/* Define the keyframes for fading in */
@keyframes captchaFadeIn {
  from {
    opacity: 0;
    visibility: hidden;
  }
  to {
    opacity: 1;
    visibility: visible;
  }
}

.grecaptcha-badge {
  transition: opacity 0.3s ease, transform 0.3s ease, right 0.3s ease !important;
}
.grecaptcha-badge:hover {
  transform: scale(1.05); /* Slightly enlarge for a smoother feel */
}

.rc-anchor {
  filter: grayscale(100%) !important;
}

